* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* carousel css */
#myCarousel .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #f33066;
  text-decoration: none;
}

#myCarousel .btn-get-started:hover {
  background: #f33066;
  color: #fff;
}
